In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
data_completa=pd.read_csv('../../Data/Cleaned/bank_full_limpio_v0.csv')
data_completa.head()

,age,job,marital,education,default,balance,housing,loan,car,contact,day,month,duration,campaign,previous,poutcome,subscribed,dia_semana
0,58,0.139,0.102,0.151,0.119,0.165,0.078,0.128,0.102,0.041,5,0.068,0.119,1,0,0.093,0,0.122
1,44,0.111,0.151,0.107,0.119,0.082,0.078,0.128,0.151,0.041,5,0.068,0.119,1,0,0.093,0,0.122
2,33,0.083,0.102,0.107,0.119,0.082,0.078,0.067,0.102,0.041,5,0.068,0.119,1,0,0.093,0,0.122
3,47,0.074,0.102,0.135,0.119,0.165,0.078,0.128,0.102,0.041,5,0.068,0.119,1,0,0.093,0,0.122
4,33,0.115,0.151,0.135,0.119,0.082,0.168,0.128,0.151,0.041,5,0.068,0.119,1,0,0.093,0,0.122

In [7]:
X=data_completa.drop('subscribed',axis=1)
y=data_completa['subscribed']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0,shuffle=True)